.foot {
    position: relative;
    bottom: 0%;
    width: 100%;
   
}

.tnc {
    justify-content: end;
    height: 40px;
    color: white;
}

.nav-underline .nav-link.active {
    color: #5bc0de !important;
}

html[data-bs-theme="dark"] nav.header {
    background-color: rgb(42, 50, 56) !important;
}

.Reqtyp {
    font-size: 0.8rem;
    position: absolute;
    margin-left: 10px;
    margin-top: 3px;
    padding: 8px 12px;
}

.iti {
    width: 100%;
}