@model hallodoc_mvc_Repository.ViewModel.ModalData

<div class="modal fade" id="encounter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
     aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header bg-info">
                <div class="modal-title text-light" id="exampleModalLongTitle">Select Type of Care</div>
                <button type="button" class="btn-close" aria-label="Close" data-bs-dismiss="modal"></button>
            </div>
            <form class="p-3" method="post" >


                <div class="d-flex justify-content-center">
                    <a asp-action="Housecall" asp-route-id="@Model.requestID" id="myForm" class="btn  btn-outline-info  continue-btn mx-2" >Housecall</a>
                    <a asp-action="Consult" asp-route-id="@Model.requestID" class="btn btn-outline-info  cancel-btn" >Consult</a>
                </div>
                <div class="mt-4 d-flex justify-content-end">
                    <button type="submit" id="myForm" class="btn btn-info text-white continue-btn mx-2" data-bs-dismiss="modal">Save</button>
                    <button type="button" class="btn btn-outline-info  cancel-btn" data-bs-dismiss="modal">Cancel</button>
                </div>
            </form>
        </div>
    </div>
</div>


