<h1>Access Denied</h1>
<img src="D:\Projects\.net learning\hallo_doc\HalloDoc_MVC\hallodoc mvc\wwwroot\SRSScreenShorts\denied2.png" />
<div class="backdrop" id="backdrop" style="z-index:140"></div>
<div id="loader-container" class="vh-100 align-items-center justify-content-center" style="z-index:150">

    <div class="loader" style="z-index:150"></div>

</div>