

<nav class="navbar header adminnav  shadow  top-0 z-3" id="adminnav">
    <div class="container-fluid ">
        <div class="d-flex justify-content-center ">
            <button class="btn d-inline-block d-lg-none" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasExample" aria-controls="offcanvasExample">
                <span class="navbar-toggler-icon"></span>
            </button>   
            <a asp-controller="Admin" asp-action="Admin_Dashboard" class="navbar-brand">
                <img src="~/SRSScreenShorts/Fig56._Patient_site_1-removebg-preview.png"  class="logo img-fluid mx-2" alt=""
                     style="height: 70px;">
            </a>        </div>
        <div class="d-flex ">
            <div class="mx-2 d-flex align-items-center d-none d-sm-inline-block">
                <p class="text-secondary fs-6">
                    Welcome <span class="text-testing fw-bolder text-dark fs-5 ">
                        @ViewBag.Username
                    </span>
                </p>
            </div>
            <div class="mx-2">
                <a type="button" asp-controller="Admin" asp-action="Logout"
                   class="btn btn-outline-dark text-info shadow border-info py-2 ">
                    <span class="d-none d-sm-inline-block ">Logout</span>
                    <span class="d-inline-block d-sm-none">
                        <i class="bi bi-box-arrow-right text-info"></i>
                    </span>
                </a>
            </div>
            <div class="me-2">
                <button type="button" class="btn btn-outline-dark shadow border-info py-2" id="btnSwitch" onclick="toggle()">
                    <i id="moon" class="bi bi-moon text-info"></i>
                    
                </button>
            </div>
        </div>
    </div>

    <hr class="w-100 m-0 p-0 d-none d-lg-block">
    <div class="collapse w-100 mx-lg-1 lg-show d-lg-block " id="navbarToggleExternalContent">
        <div class="px-3">
            <ul class="nav nav-underline" id="myTab" role="tablist">
                <li class="nav-item" role="presentation">
                    <button class="nav-link active text-muted px-3" id="home-tab" data-bs-toggle="tab" onclick="tabchanged(1)"
                            data-bs-target="" type="button" role="tab" aria-controls="home-tab-pane"
                            aria-selected="true">
                        Dashboard
                    </button>
                </li>

                <li class="nav-item" role="presentation">
                    <button class="nav-link text-muted px-3" id="provider-location-tab" data-bs-toggle="tab" onclick="tabchanged(2)"
                            data-bs-target="" type="button" role="tab"
                            aria-controls="provider-location-tab-pane" aria-selected="false">
                        Provider-location
                    </button>
                </li>

                <li class="nav-item">
                    <button class="nav-link text-muted px-3" id="provider-location-tab" data-bs-toggle="tab" onclick="tabchanged(3)"
                            data-bs-target="" type="button" role="tab"
                            aria-controls="provider-location-tab-pane" aria-selected="false">
                        Profile
                    </button>
                </li>

                <li class="nav-item dropdown" role="presentation">
                    <button class="nav-link text-muted px-3 dropdown-toggle show" id="Providers-tab" data-bs-toggle="dropdown"
                            data-bs-target="" type="button" role="tab"
                            aria-controls="Providers-tab-pane" aria-selected="false">
                        Providers
                    </button>
                    <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                        <a class="dropdown-item" onclick="tabchanged(4)" role="tab" data-bs-toggle="tab">Action</a>
                        <a class="dropdown-item" href="#">Another action</a>
                        <a class="dropdown-item" href="#">Something else here</a>
                    </div>
                </li>

                <li class="nav-item" role="presentation">
                    <button class="nav-link text-muted px-3" id="Partners-tab" data-bs-toggle="tab"
                            data-bs-target="#Partners-tab-pane" type="button" role="tab"
                            aria-controls="Partners-tab-pane" aria-selected="false">
                        Partners
                    </button>
                </li>

                <li class="nav-item dropdown" role="presentation">
                    <button class="nav-link text-muted px-3" id="Access-tab" data-bs-toggle="dropdown"
                            data-bs-target="" type="button" role="tab" aria-controls="Access-tab-pane"
                            aria-selected="false">
                        Access
                    </button>
                    <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                        <a class="dropdown-item" onclick="tabchanged(8)" role="tab" data-bs-toggle="tab">Account</a>
                        <a class="dropdown-item" href="#">Another action</a>
                    </div>
                </li>

                <li class="nav-item" role="presentation">
                    <button class="nav-link text-muted px-3" id="Records-tab" data-bs-toggle="tab"
                            data-bs-target="#Records-tab-pane" type="button" role="tab" aria-controls="Records-tab-pane"
                            aria-selected="false">
                        Records
                    </button>
                </li>


            </ul>
        </div>
    </div>

    <div class="offcanvas offcanvas-start d-lg-none d-block" tabindex="-1" id="offcanvasExample" aria-labelledby="offcanvasExampleLabel">
        <div class="offcanvas-header">
            <h5 class="offcanvas-title" id="offcanvasExampleLabel">
                Welcome
                <strong>
                    Admin
                </strong>
            </h5>
            <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
        </div>
        <div class="offcanvas-body p-0">
            <div class="px-0 d-flex flex-column">
                <ul class="list-unstyled" id="myTab" role="tablist">

                    <li class="nav-item my-2 " role="presentation">
                        <button class="nav-link offcanvas-btn active text-muted p-3 w-100" id="home-tab" data-bs-toggle="tab"
                                data-bs-target="#home-tab-pane" type="button" role="tab" aria-controls="home-tab-pane"
                                aria-selected="true">
                            Dashboard
                        </button>
                    </li>

                    <li class="nav-item my-2 " role="presentation">
                        <button class="nav-link offcanvas-btn text-muted p-3 w-100" id="provider-location-tab" data-bs-toggle="tab"
                                data-bs-target="#provider-location-tab-pane" type="button" role="tab"
                                aria-controls="provider-location-tab-pane" aria-selected="false">
                            Provider-location
                        </button>
                    </li>

                    <li class="nav-item my-2" role="presentation">
                        <button class="nav-link offcanvas-btn text-muted p-3 w-100" id="profile-tab" data-bs-toggle="tab"
                                data-bs-target="#profile-tab-pane" type="button" role="tab" aria-controls="profile-tab-pane"
                                aria-selected="false">
                            Profile
                        </button>
                    </li>

                    <li class="nav-item my-2" role="presentation">
                        <button class="nav-link offcanvas-btn text-muted p-3 w-100" id="Providers-tab" data-bs-toggle="tab"
                                data-bs-target="#Providers-tab-pane" type="button" role="tab"
                                aria-controls="Providers-tab-pane" aria-selected="false">
                            Providers
                        </button>
                    </li>

                    <li class="nav-item my-2" role="presentation">
                        <button class="nav-link offcanvas-btn text-muted p-3 w-100" id="Partners-tab" data-bs-toggle="tab"
                                data-bs-target="#Partners-tab-pane" type="button" role="tab"
                                aria-controls="Partners-tab-pane" aria-selected="false">
                            Partners
                        </button>
                    </li>

                    <li class="nav-item my-2" role="presentation">
                        <button class="nav-link offcanvas-btn text-muted p-3 w-100" id="Access-tab" data-bs-toggle="tab"
                                data-bs-target="#Access-tab-pane" type="button" role="tab" aria-controls="Access-tab-pane"
                                aria-selected="false">
                            Access
                        </button>
                    </li>

                    <li class="nav-item my-2" role="presentation">
                        <button class="nav-link offcanvas-btn text-muted p-3 w-100" id="Records-tab" data-bs-toggle="tab"
                                data-bs-target="#Records-tab-pane" type="button" role="tab" aria-controls="Records-tab-pane"
                                aria-selected="false">
                            Records
                        </button>
                    </li>

                </ul>
            </div>
        </div>
    </div>

</nav>

<script>
    
</script>
