<div class="tab-pane fade" id="Records-tab-pane" role="tabpanel" aria-labelledby="Records-tab" tabindex="0">
    <div class="container-fluid">
        <h3 class="mb-3 p-3 p-md-2 ">Records</h3>
    </div>
</div>