<footer class="footer pt-lg-2 d-flex bg-secondary container-fluid  bottom-0 align-items-center justify-content-end foot" style="z-index:20">
    <div class="footercontent my-3 mx-3">
        <a href="#" class=" text-light  mx-2 fw-bolder " style="text-decoration: none;">Terms of Condition </a>
        <span class="line text-light fw-bolder ">|</span>
        <a href="#" class="text-light fw-bolder mx-2" style="text-decoration: none;"> Privacy Policy</a>
    </div>
</footer>