

<nav class="navbar header adminnav  shadow  top-0 z-3" id="adminnav">
    <div class="container-fluid ">
        <div class="d-flex justify-content-center ">
            <button class="btn d-inline-block d-lg-none" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasExample" aria-controls="offcanvasExample">
                <span class="navbar-toggler-icon"></span>
            </button>   
            <a asp-controller="Physician" asp-action="PhysicianDashboard" class="navbar-brand">
                <img src="~/SRSScreenShorts/Fig56._Patient_site_1-removebg-preview.png"  class="logo img-fluid mx-2" alt=""
                     style="height: 70px;">
            </a>        </div>
        <div class="d-flex ">
            <div class="mx-2 d-flex align-items-center d-none d-sm-inline-block">
                <p class="text-secondary fs-6">
                    Welcome <span class="text-testing fw-bolder text-dark fs-5 ">
                        @ViewBag.Username
                    </span>
                </p>
            </div>
            <div class="mx-2">
                <a type="button" asp-controller="Login" asp-action="Logout"
                   class="btn btn-outline-dark text-info shadow border-info py-2 ">
                    <span class="d-none d-sm-inline-block ">Logout</span>
                    <span class="d-inline-block d-sm-none">
                        <i class="bi bi-box-arrow-right text-info"></i>
                    </span>
                </a>
            </div>
            <div class="me-2">
                <button type="button" class="btn btn-outline-dark shadow border-info py-2" id="btnSwitch" onclick="toggle()">
                    <i id="moon" class="bi bi-moon text-info"></i>
                    
                </button>
            </div>
        </div>
    </div>

    <hr class="w-100 m-0 p-0 d-none d-lg-block">
    <div class="collapse w-100 mx-lg-1 lg-show d-lg-block " id="navbarToggleExternalContent">
        <div class="px-3">
            <ul class="nav nav-underline" id="myTab" role="tablist">
                <li class="nav-item" role="presentation">
                    <button class="nav-link active text-muted px-3" id="home-tab" data-bs-toggle="tab" onclick="tabchanged(1)"
                            data-bs-target="" type="button" role="tab" aria-controls="home-tab-pane"
                            aria-selected="true">
                        Dashboard
                    </button>
                </li>
                <li class="nav-item" role="presentation">
                    <button class="nav-link  text-muted px-3" id="invoice-tab" data-bs-toggle="tab" onclick="tabchanged(4)"
                            data-bs-target="" type="button" role="tab" aria-controls="invoice-tab-pane"
                            aria-selected="true">
                        Invoicing
                    </button>
                </li>
 
                <li class="nav-item">
                    <button class="nav-link text-muted px-3" id="provider-location-tab" data-bs-toggle="tab" onclick="tabchanged(2)"
                            data-bs-target="" type="button" role="tab"
                            aria-controls="provider-location-tab-pane" aria-selected="false">
                        My Schedule
                    </button>
                </li>

                <li class="nav-item">
                    <button class="nav-link text-muted px-3" id="provider-location-tab" data-bs-toggle="tab" onclick="tabchanged(3)"
                            data-bs-target="" type="button" role="tab"
                            aria-controls="provider-location-tab-pane" aria-selected="false">
                        Profile
                    </button>
                </li>
            </ul>
        </div>
    </div>

	<div class="offcanvas offcanvas-start d-lg-none d-block overflow-y-scroll" tabindex="-1" id="offcanvasExample" aria-labelledby="offcanvasExampleLabel">
		<div class="offcanvas-header">
			<h6 class="offcanvas-title" id="offcanvasExampleLabel">
				Welcome
				<strong>
					Admin,@ViewBag.Username
				</strong>
			</h6>
			<button type="button" class="shadow-none btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
		</div>
		<div class="offcanvas-body p-0">
			<div class="px-0 d-flex flex-column">
				<ul class="list-unstyled" id="myTab" role="tablist">

					<li class="nav-item my-1 " role="presentation">
						<button class="nav-link offcanvas-btn active text-muted p-3 w-100 closedOffCanvas" id="home-tab1" data-bs-toggle="tab"
								data-bs-target="#home-tab-pane" type="button" role="tab" aria-controls="home-tab-pane"
								aria-selected="false" onclick="tabchanged(1)">
							Dashboard
						</button>
					</li>

                    <li class="nav-item my-1 " role="presentation">
                        <button class="nav-link offcanvas-btn  text-muted p-3 w-100 closedOffCanvas" id="home-tab12" data-bs-toggle="tab"
                                data-bs-target="#hom-tab-pane" type="button" role="tab" aria-controls="schedilg-tab-pane"
                                aria-selected="false" onclick="tabchanged(2)">
                            Scheduling
                        </button>
                    </li>


					<li class="nav-item my-1" role="presentation">
						<button class="nav-link offcanvas-btn text-muted p-3 w-100 closedOffCanvas" id="profile-tab1" data-bs-toggle="tab"
								data-bs-target="#Admin-profile-tab-pane" type="button" role="tab" aria-controls="Admin-profile-tab-pane"
								aria-selected="false" onclick="tabchanged(3)">
							Profile
						</button>
					</li>

					

					

				</ul>
			</div>
		</div>
	</div>

</nav>




<script>
	document.querySelectorAll('.closedOffCanvas').forEach(tabButton => {
		tabButton.addEventListener('click', function () {
			var offcanvas = document.getElementById('offcanvasExample');

			var offcanvasInstance = bootstrap.Offcanvas.getInstance(offcanvas);
			if (offcanvasInstance) {
				offcanvasInstance.hide();
			}
		});
	});
</script>