@model hallodoc_mvc_Repository.ViewModel.ModalData

@{
    ViewData["Title"] = "Review Agreement";
}


<div class="modal fade" id="CancelAgreementPopup" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="CancelAgreementPopupLabel" aria-hidden="true">
    <div class="modal-dialog" style="top: 22%;">
        <div class="modal-content">
            <div class="modal-header bg-info">
                <h1 class="modal-title fs-5 text-white" id="CancelAgreementPopupLabel">Confirm Cancellation</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <form asp-action="GetCancel" asp-route-id="@Model.Token" method="post" id="cancelCaseForm">
                <div class="modal-body text-secondary">

                    <h5>@Model.PatientName</h5>

                    <div class="form-floating mt-3">
                        <textarea class="form-control text-secondary" asp-for="note" placeholder="Leave a comment here" id="floatingTextarea2" style="height: 100px"></textarea>
                        <label for="floatingTextarea2">Please Provide a Breaf Explaination For Your Cancellation</label>
                    </div>

                </div>

                <div class="m-3 d-flex justify-content-end">
                    <button type="submit" class="btn btn-info confirm-btn text-white">Confirm</button>
                    <button type="button" class="btn cancel-btn border-info text-info ms-3" data-bs-dismiss="modal">Cancel</button>
                </div>
            </form>
        </div>
    </div>
</div>

    <div class="container align-items-center" style="margin-top: 15%;">
   
   
    <div class="mx-5 justify-content-center">
        
       
        <h5>
            To provide best medical service, we cannot determine the cost right away.
            If you agree to our service, so we will provide care and follow-up until all care is completed.
            So with this points, if you like us to provide care to you click on "Agree" and we'll get started immediately,
            if you do not agree simply click "Cancel".
        </h5>
    </div>
    <div class="mt-5 d-flex justify-content-center align-items-center">
        <a role="button" type="submit" asp-action="Agree" asp-route-id="@Model.Token" class="btn btn-success confirm-btn text-white" style="margin-right: 25%;">I Agree</a>
        <a role="button" type="button" class="btn cancel-btn btn-danger ms-3" data-bs-toggle="modal" data-bs-target="#CancelAgreementPopup">Cancel</a>
    </div>
</div>

