@model hallodoc_mvc_Repository.ViewModel.ModalData


<!-- Modal -->
<div class="modal fade" id="SmS" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered ">
        <form class="modal-content" asp-action="SendEmailOrMessage" asp-route-id="@Model.phyid">
            <div class="modal-header bg-info text-white">
                <h5 class="modal-title" id="exampleModalLabel">Contact Your Provider</h5>
                <button type="button" class="btn-close btn-close-white" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body" >
                <p class="mb-3">
                    Choose Communication to send message.
                </p>
                <div class="form-check mb-3">
                    <input class="form-check-input" type="radio" name="MessageType" id="inlineRadio1" value="1">
                    <label class="form-check-label" for="inlineRadio1">SMS</label>
                </div>
                <div class="form-check mb-3">
                    <input class="form-check-input" type="radio" name="MessageType" id="inlineRadio2" value="2">
                    <label class="form-check-label" for="inlineRadio2">Email</label>
                </div>
                <div class="form-check mb-3">
                    <input class="form-check-input" type="radio" name="MessageType" id="inlineRadio3" value="3">
                    <label class="form-check-label" for="inlineRadio3">Both</label>
                </div>
                <div class="row">
                    <div class="col">
                        <div class="form-floating">
                            <textarea class="form-control" placeholder="Message" id="notes" asp-for="note" style="height: 100px"></textarea>
                            <label for="floatingTextarea2">Message</label>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="submit" class="btn btn-info text-white">Send</button>
                <button type="button" class="btn btn-white text-info border-info" data-bs-dismiss="modal">cancel</button>
            </div>
        </form>
    </div>
</div>