@model hallodoc_mvc_Repository.ViewModel.Provider;
@{
    Layout = ViewBag.Layout;
}
<style>
    .nav-underline .nav-link.active {
        color: #5bc0de !important;
    }

    .nav-pills .nav-link.active, .nav-pills .show > .nav-link {
        background-color: aqua !important;
    }
</style>
<div class="backdrop" id="backdrop" style="z-index:140"></div>
<div id="loader-container" class="vh-100 align-items-center justify-content-center" style="z-index:150">

    <div class="loader" style="z-index:150"></div>

</div>
<Partial name="_Toast" />

<div class="row d-flex justify-content-center">

    <div class="col-lg-8 mb-5">
        <div class="d-flex justify-content-between mt-4 mb-4">
            <h3>Scheduling</h3>
            <a asp-action="Tabchange" asp-route-nav="1" class="btn btn-outline-info back-btn">
                &lt; Back
            </a>
        </div>

        <div class="d-flex justify-content-between">

            <select class="form-select h-100" onchange="SortRegion(this.value)" id="region" style="width:fit-content" aria-label="Default select example">
                <option selected value="0">All Region</option>
                @foreach (var item in Model.regions)
                {
                    <option value="@item.RegionId">@item.Name</option>
                }
            </select>
            <div>
                <button type="button" class="btn btn-info text-white" onclick="GetOnCall(0)">Providers On Call</button>
                <a asp-action="ShiftReview" type="button" class="btn btn-info text-white">Shift for Review</a>
                <button type="button" class="btn btn-info text-white" onclick="createshift()">Add new Shift</button>
            </div>
        </div>

        <div id="ShiftTableContainer"></div>


    </div>
</div>
<div id="schmodal"></div>

<script>
 
    function Shifttab(id) {
        var regid = document.getElementById("region").value;
    
        //$("#ShiftTableContainera").load("/Admin/Shifttab/"+id+"?region="+regid);
        
        $.ajax({
            url: '/Admin/Shifttab',
            type: 'POST',
            data: { id: id, region: regid },

            success: function (response) {
                $("#ShiftTableContainer").html(response);
            },
            error: function () {
                alert('An error occurred.');
            }
        });
 

    }

    Shifttab(1);

    function createshift() {
        $('#schmodal').load('/Admin/CreateShiftModal/', () => {
            const modal = new bootstrap.Modal(document.getElementById('createshift'));
            modal.show();
        });
    }

    function SortRegion(regid){
        Shifttab(1);
    }
    function showLoader() {

        document.getElementById("loader-container").classList.add("d-flex");
        document.getElementById("backdrop").classList.add("d-flex");
        document.getElementById("loader-container").classList.remove("d-none");
        document.getElementById("backdrop").classList.remove("d-none");
    }


    function hideLoader() {
        document.getElementById("loader-container").classList.remove("d-flex");
        document.getElementById("backdrop").classList.remove("d-flex");
        document.getElementById("loader-container").classList.add("d-none");
        document.getElementById("backdrop").classList.add("d-none");
    }

    hideLoader();
    function GetOnCall(regionid) {
        showLoader();
        $.ajax({
            method: "GET",
            url: "/Admin/GetOnCall",
            data: { regionid: regionid },
            success: function (res) {
                if (res) {
                    $('#TabContainer').html(res);
                    $('#MDsRegion').val(regionid);
                }
                hideLoader();
            },
            error: function () {
                hideLoader();
                Swal.fire("Oops!", "Something is Wrong !!!", "error");
            }
        });
    }

    document.getElementById("Providers-tab").classList.add("active");
    document.getElementById("scheduling").classList.add("active");
    document.getElementById("Provider-tab").setAttribute('aria-expanded', true);
</script>