@model hallodoc_mvc_Repository.ViewModel.Provider;
@{
    Layout = ViewBag.Layout;
}
<style>
    .nav-underline .nav-link.active {
        color: #5bc0de !important;
    }

    .nav-pills .nav-link.active, .nav-pills .show > .nav-link{
        background-color:aqua !important;
    }
</style>

<Partial name="_Toast" />

<div class="row d-flex justify-content-center">

    <div class="col-lg-8 mb-5">
        <div class="d-flex justify-content-between mt-4 mb-4">
            <h3>Scheduling</h3>
            <a class="btn btn-outline-info back-btn">
                &lt; Back
            </a>
        </div>

        <div class="d-flex justify-content-between">
            <select class="form-select h-100" id="role" style="width:fit-content" aria-label="Default select example">
                <option value="" selected disabled>All Regions</option>
            </select>
            <div>
                <button type="button" class="btn btn-info text-white" onclick="GetOnCall(0)">Providers On Call</button>
                <a asp-action="ShiftReview" type="button" class="btn btn-info text-white" >Shift for Review</a>
                <button type="button" class="btn btn-info text-white" onclick="createshift()">Add new Shift</button>
            </div>
        </div>

        <div id="ShiftTableContainer"></div>


    </div>
</div>
<div id="schmodal"></div>

<script>
    function createshift() {
        $('#schmodal').load('/Admin/CreateShiftModal/', () => {
            const modal = new bootstrap.Modal(document.getElementById('createshift'));
            modal.show();
        });
    }

    function Shifttab(id){
        $.ajax({
            url: `/Admin/Shifttab`,
            type: 'POST',
            dataType: 'html',
            data:{ id : id },
            // Pass your data here
            success: function (response) {
                $("#ShiftTableContainer").html(response)
            },
            error: function () {
                alert('An error occurred.');
            }
        });
    }


    $.ajax({
        method: "GET",
        url: "/Admin/Shifttab",
        data: { id: 1 },
        success: function (result) {
            $("#ShiftTableContainer").html(result);

        },

        error: function () {
            alert("Error loading partial view");
        },
    });

    function GetOnCall(regionid) {
        $.ajax({
            method: "GET",
            url: "/Admin/GetOnCall",
            data: { regionid: regionid },
            success: function (res) {
                if (res) {
                    $('#TabContainer').html(res);
                    $('#MDsRegion').val(regionid);
                }
            },
            error: function () {
                Swal.fire("Oops!", "Something is Wrong !!!", "error");
            }
        });
    }
</script>