@model hallodoc_mvc_Repository.ViewModel.ViewCase


<div class="modal fade" id="SendLink" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
     aria-labelledby="SendLinkLabel" aria-hidden="true">
    <div class="modal-dialog" style="top: 22%;">
        <div class="modal-content">
            <div class="modal-header bg-info">
                <h1 class="modal-title fs-5 text-white" id="SendLinkLabel">
                    Send Mail To Patient For Submitting Request
                </h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <form asp-action="Sendlink" method="post" id="SendLinkForm">
                <div class="modal-body text-secondary">
                    <div class="form-floating mt-3">
                        <input type="text" class=" form-control" id="floatingInputFirst" asp-for="FirstName"
                               placeholder="First Name" aria-label="First Name" />
                        <label class="ms-2 text-secondary" for="floatingInputFirst">First Name</label>
                    </div>
                    <div class="form-floating mt-3">
                        <input type="text" class=" form-control" id="floatingInputLast" placeholder="Last Name" asp-for="LastName"
                               aria-label="Last Name" />
                        <label class="ms-2 text-secondary" for="floatingInputLast">Last Name</label>
                    </div>
                    <div class="form-floating mt-3">
                        <input type="tel" class="form-control" id="floatingInputemail" placeholder="phone" asp-for="PhoneNumber"
                               aria-label="phone">
                        <label class="" for="floatingInputemail">PhoneNumber</label>
                    </div>
                    <div class="form-floating mt-3">
                        <input type="email" class="form-control" id="floatingInputemail" placeholder="Email" asp-for="Email"
                               aria-label="Email">
                        <label class="" for="floatingInputemail">Email</label>
                    </div>
                </div>
                <div class="m-3 d-flex justify-content-end">
                    <button type="submit" class="btn btn-info confirm-btn text-white">
                        Send
                    </button>
                    <button type="button" class="btn cancel-btn border-info text-info ms-3"
                            data-bs-dismiss="modal">
                        Cancel
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>
