@model hallodoc_mvc_Repository.ViewModel.ModalData

<div class="modal fade" id="myModalTransfer" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">

        <div class="modal-content">
            <div class="modal-header bg-info">
                <div class="modal-title text-light" id="exampleModalLongTitle">Transfer Request</div>
                <button type="button" class="btn-close" aria-label="Close" data-bs-dismiss="modal"></button>
            </div>
            <form class="p-3" asp-action="Transfer" >

                <div class="text-secondary">
                    To Transfer this request,search and select another Physician.
                </div>

                <select class="form-select mt-4 text-secondary" aria-label="Narrow search by region" onchange="getphy(this.value)">
                    <option selected>Narrow search by region</option>
                    @foreach (var item in Model.region)
                    {
                        <option value="@item.RegionId">@item.Name</option>
                    }
                </select>

                <select class="form-select mt-4 text-secondary" aria-label="Select Physician" id="physician" asp-for="SelectedPhysicianName">
                    <option selected disabled>Select Physician</option>
                </select>

                <div class="mt-4 form-floating text-secondary">
                    <textarea class="form-control h-100" id="floatingInputDescription" placeholder="Description" asp-for="note" rows="3"></textarea>
                    <label for="floatingInputDescription" class="text-wrap">Description</label>
                </div>

                <div class="mt-4 d-flex justify-content-end">
                    <button type="submit" class="btn btn-info continue-btn mx-2" data-bs-dismiss="modal">Submit</button>
                    <button type="button" class="btn cancel-btn" data-bs-dismiss="modal">Cancel</button>
                </div>
            </form>
        </div>
    </div>
</div>


<script>
    function getphy(id) {
        $.ajax({
            url: '/Admin/GetPhysician',
            data: { id: id },
            success: function (data) {
                if (data) {
                    var content = "";
                    if (data.length == 0) {
                        console.log("break");
                        content += `<option selected>Select Physician</option>`;
                    }
                    else if (Array.isArray(data)) {
                        for (const item of data) {
                            content += `<option value="${item.physicianId}">${item.firstName}</option>`;
                        }
                    } else {
                        console.error('Unexpected data format: Received data is not an array of strings.');
                    }

                    $('#physician').html(content);
                } else {
                    var content = `<option disabled selected class="d-none"> Select Physician </option>`;


                    $('#physicians').html(content);
                }
            },
            error: function (jqXHR, textStatus, errorThrown) {
                console.error('AJAX Error:', textStatus, errorThrown);
            }
        });
    }
</script>
