@model HalloDoc.Models.BusinessReqModel
@{
    ViewBag.cssLink1 = "~/css/business.css";
    ViewBag.jsLink1 = "~/js/business.js";
    Layout = "_Layout2";
}

<body onload="load()">
    <script src="~/js/business.js"></script>
    <div class="main">
        <!-- Modal -->

        <button type="button" class="visually-hidden btn btn-primary hello " data-bs-toggle="modal" data-bs-target="#staticBackdrop">
            Launch static backdrop modal
        </button>

        <div class="modal fade" tabindex="-1" id="staticBackdrop" role="dialog">
            <div class="modal-dialog modal-dialog-centered">
                <div class="modal-content">
                    <div class="modal-header d-flex justify-content-center align-items-center border-0">
                        <i class="fa-solid fa-circle-exclamation fa-lg mt-3" style="color: #FFD43B; font-size: 40px; "></i>
                    </div>
                    <div class="modal-body text-center">
                        <h3>Information</h3>
                        <div class="p-4">
                            <p>When submitting a request, you must provide the correct contact information for the patient or the responsibly party. Failure to provide the correct email and phone number will delay service or be declined.</p>
                        </div>
                        <button type="button" class="btn btn-info text-white" data-bs-dismiss="modal">Ok</button>
                    </div>
                    <div class="modal-footer d-flex justify-content-center border-0">
                    </div>
                </div>
            </div>
        </div>
        <nav class="shadow-bottom ">
            <img src="/SRSScreenShorts/Fig56._Patient_site_1-removebg-preview.png" class="logo" alt="">
            <button onclick="myFunction()" class="b1">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                     class="bi moon bi-moon" viewBox="0 0 16 16">
                    <path d="M6 .278a.77.77 0 0 1 .08.858 7.2 7.2 0 0 0-.878 3.46c0 4.021 3.278 7.277 7.318 7.277q.792-.001 1.533-.16a.79.79 0 0 1 .81.316.73.73 0 0 1-.031.893A8.35 8.35 0 0 1 8.344 16C3.734 16 0 12.286 0 7.71 0 4.266 2.114 1.312 5.124.06A.75.75 0 0 1 6 .278M4.858 1.311A7.27 7.27 0 0 0 1.025 7.71c0 4.02 3.279 7.276 7.319 7.276a7.32 7.32 0 0 0 5.205-2.162q-.506.063-1.029.063c-4.61 0-8.343-3.714-8.343-8.29 0-1.167.242-2.278.681-3.286" />
                </svg>
            </button>
        </nav>
        <div class="container ">
            <div class="backbtn d-flex justify-content-end ">
                   <a asp-controller="Home" asp-action="submit_screen">
                <button class="back">
                    &lt; Back
                </button>
                </a>
            </div>

            <form asp-action="business" class="maincontent shadow p-3">
                <div class="">
                    <h3 class="text1">Business Information</h3>

                    <div class="row ">
                        <div class="form-floating col-sm-6 mt-3 ">
                            <input type="text" class="form-control" id="floatingInput" placeholder="Your First name" asp-for="BusFirstName">
                            <label for="floatingInput" class="mx-2">Your First Name</label>
                            <span asp-validation-for="BusFirstName" class="text-danger"></span>
                        </div>
                        <div class="form-floating col-sm-6 mt-3 ">
                            <input type="text" class="form-control" id="floatingInput" placeholder="Last Name" asp-for="BusLastName">
                            <label for="floatingInput " class="mx-2">Your Last Name</label>
                            <span asp-validation-for="BusLastName" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-floating col-sm-6 mt-3 phone-code">
                            <input type="tel" class="form-control phone-input phone" id="phone" asp-for="BusMobile">
                            <span asp-validation-for="BusMobile" class="text-danger"></span>
                            <!-- <label for="phone" class="mx-2">(201)555-0123</label> -->
                        </div>
                        <div class="form-floating col-sm-6 mt-3 ">
                            <input type="email" class="form-control" id="floatingInput" placeholder="email" asp-for="BusEmail">
                            <label for="floatingInput " class="mx-2">Your Email</label>
                            <span asp-validation-for="BusEmail" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-floating col-sm-6 mt-3">
                            <input type="text  " class="form-control" id="floatingInput" placeholder="relation " asp-for="Property">
                            <label for="floatingInput " class="mx-2">Hotel/Property Name</label>
                        </div>
                        <div class="form-floating col-sm-6 mt-3">
                            <input type="text  " class="form-control" id="floatingInput" placeholder="relation " asp-for="CaseNum">
                            <label for="floatingInput " class="mx-2">Case Number</label>
                        </div>
                    </div>

                </div>

                <h3 class="head3 mt-5 text1">Patient Information</h3>
                <div class="form-floating mt-3">
                    <textarea class="form-control" placeholder="Enter Brief Details Of Symptoms(Optional)"
                              id="floatingTextarea2" style="height: 100px" asp-for="Symptoms"></textarea>
                    <label for="floatingTextarea2  " class="">Enter Brief Details Of Symptoms(Optional)</label>
                </div>
                <div class="row ">
                    <div class="form-floating col-sm-6 mt-3 ">
                        <input type="text" class="form-control" id="floatingInput" placeholder="First name" asp-for="FirstName">
                        <label for="floatingInput" class="mx-2">First Name</label>
                        <span asp-validation-for="FirstName" class="text-danger"></span>
                    </div>
                    <div class="form-floating col-sm-6 mt-3 ">
                        <input type="text" class="form-control" id="floatingInput" placeholder="Last Name" asp-for="LastName">
                        <label for="floatingInput " class="mx-2">Last Name</label>
                        <span asp-validation-for="LastName" class="text-danger"></span>
                    </div>
                </div>
                <div class="row">
                    <div class="form-floating col-sm-6 mt-3">
                        <input type="date" class="form-control" id="floatingInput" placeholder="Date Of Birth " asp-for="DOB">
                        <label for="floatingInput " class="mx-2" >Date Of Birth</label>
                        <span asp-validation-for="DOB" class="text-danger"></span>
                    </div>
                    <div class="form-floating col-sm-6 mt-3">
                    </div>
                </div>

                <h3 class="head3 mt-5 text1">Patient Contact Information</h3>
                <div class="row ">
                    <div class="form-floating col-sm-6 mt-3 ">
                        <input type="email" class="form-control" id="floatingInput" placeholder="email" asp-for="Email">
                        <label for="floatingInput " class="mx-2">Your Email</label>
                        <span asp-validation-for="Email" class="text-danger"></span>
                    </div>
                    <div class="form-floating col-sm-6 mt-3 phone-code">
                        <input type="tel" class="form-control phone-input phone" id="phone" asp-for="Mobile">
                        <span asp-validation-for="Mobile" class="text-danger"></span>
                        <!-- <label for="phone" class="mx-2">(201)555-0123</label> -->
                    </div>
                </div>

                <h3 class="head3 mt-5 text1">Patient Location</h3>
                <div class="row ">
                    <div class="form-floating col-sm-6 mt-3 ">
                        <input type="text" class="form-control" id="floatingInput" placeholder="street" asp-for="Street">
                        <label for="floatingInput" class="mx-2">Street</label>
                    </div>
                    <div class="form-floating col-sm-6 mt-3 ">
                        <input type="text" class="form-control" id="floatingInput" placeholder="City" asp-for="City">
                        <label for="floatingInput" class="mx-2">City</label>
                    </div>
                </div>
                <div class="row ">
                    <div class="form-floating col-sm-6 mt-3 ">
                        <input type="text" class="form-control" id="floatingInput" placeholder="State" asp-for="State">
                        <label for="floatingInput" class="mx-2">State</label>
                    </div>
                    <div class="form-floating col-sm-6 mt-3 ">
                        <input type="number" class="form-control" id="floatingInput" placeholder="zipcode" asp-for="ZipCode">
                        <label for="floatingInput" class="mx-2">Zip Code</label>
                        <span asp-validation-for="ZipCode"></span>
                    </div>
                </div>
                <div class="row ">
                    <div class="form-floating col-sm-6 mt-3 ">
                        <input type="text" class="form-control" id="floatingInput" placeholder="room" asp-for="Room">
                        <label for="floatingInput" class="mx-2">
                            Room # / Suite (Optional)
                        </label>
                    </div>
                    <div class="form-floating col-sm-6 mt-3 ">
                    </div>
                </div>



                <div class="mt-3 d-flex justify-content-end  ">

                    <button class="Submit col-lg-1 ">Submit</button>
                    <button class="Cancel col-lg-1">Cancel</button>

                </div>





            </form>
        </div>
    </div>
    <div class="footer d-flex justify-content-end">
        Terms Of Conditions | Privacy Policy
    </div>
</body>