@model LoginViewModel



@{
    ViewBag.cssLink1 = "~/css/patient_login.css";
    ViewBag.cssLink2 = "https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css";

    ViewBag.jsLink1 = "js/darkmode.js";
    ViewBag.jsLink12 = "~/js/patient_login.js";

}
@section Scripts {
    @{ 
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}


<div class="position-relative">
    <div class="login-bg-img position-absolute">
        <img src="/SRSScreenShorts/11116016_415.jpg" alt=""
             class="img-fluid object-fit-contain h-100 w-100">
    </div>

    <div class="position-absolute top-0 end-0 m-4">
        <button onclick="toggle()" type="button" class="btn btn-outline-dark border-info" id="btnSwitch">
            <i class="bi bi-moon text-info fs-4"></i>
        </button>
    </div>

    <div class="main-container">
        <div class="container login-container d-flex flex-column justify-content-between ms-auto me-auto pt-4 pb-5">
            <div class="text-center login-logo ">
                <img src="/SRSScreenShorts/Fig56._Patient_site_1-removebg-preview.png" class="img-fluid" alt="Image Not Available">
            </div>
            <div class="mb-5 pb-5">
                <div class="mb-3 mx-3">
                    <a  asp-controller="Home" asp-action="patient_screen" class="text-info" style="text-decoration: none;">
                        <i class="fa-solid fa-angle-left"></i><b> Back</b>
                    </a>
                </div>
                <h2 class="mb-3 text-center mt-2 mb-4">Login To Your Account</h2>

                <form asp-controller="Home" asp-action="patient_login" method="post" class="mb-3">
                    <div class="form-floating mb-4">
                        <input asp-for="Email" type="email" class="form-control bg-transparent border-2 border-info"
                               id="exampleInputemail" placeholder="Email">
                        <label for="exampleInputemail" class="">Email</label>

                        <span asp-validation-for="Email" class="text-danger"></span>
                        <div class="user-icon position-absolute top-0 end-0 mx-3 my-2">
                            <i class="bi bi-person-circle fs-4"></i>
                        </div>
                    </div>
                    <div class="form-floating mb-4 ">
                        <input asp-for="Passwordhash" type="password" class="form-control bg-transparent border-2 border-info"
                               id="floatingPassword" placeholder="Password">
                        <label for="floatingPassword">Password</label>
                        <span asp-validation-for="Passwordhash" class="text-danger"></span>
                        <div class="eye-icon position-absolute top-0 end-0 mx-3 my-2">
                            <i class="bi bi-eye-slash fs-4 text-muted mt-1 common-cursor-pointer" id="togglePassword"></i>
                        </div>
                    </div>

                    <div class="mb-4 pt-4 d-grid">
                        <button type="submit" asp-controller="Home" asp-action="patient_login" class="btn btn-info text-light   ">Log In</button>
                    </div>
                    <div class="mb-4 text-center">
                        <a asp-controller="Home" asp-action="forgot_password" class="text-info"
                           style="text-decoration: none;"><strong>Forgot Password?</strong></a>
                    </div>

                </form>
            </div>
            <div class="mb-1 pt-lg-2 d-flex justify-content-center">
                <a href="#" class="terms mx-2" style="text-decoration: none;">Terms of Condition </a>
                <span class="terms">|</span>
                <a href="#" class="terms mx-2" style="text-decoration: none;"> Privacy Policy</a>
            </div>
        </div>
    </div>

</div>

