@model IEnumerable<hallodoc_mvc.Models.Request>

@{
    ViewBag.cssLink1 = "~/css/patient_dashboard.css";
    ViewBag.jsLink1 = "~/js/patient_dashboard.js";
}
﻿@{
    ViewData["Title"] = "Dashboard";
}

<body>
<div id="body">
    <script src="~/js/patient_dashboard.js"></script>
    <!-- Navbar -->
    <div class="navbar-custom">
            <img src="/SRSScreenShorts/Fig56._Patient_site_1-removebg-preview.png" alt="" class="logo" />
        <div class="right-side-elements">
            <span class="welcome-text">Welcome <span class="name-text">@ViewBag.username</span></span>
            <a class="logout log" asp-controller="Home" asp-action="patient_login">
                <span class="logout-text">Logout</span>
            </a>
                <a class="logout-mob log" asp-controller="Home" asp-action="patient_login">
                    <img id="logout" src="/SRSScreenShorts\box-arrow-right.svg" alt="" class="logout-img" />
            </a>
            <button class="moon" onclick="changeMode()">
                    <img id="moon" src="/SRSScreenShorts\moon.svg" alt="" class="moon-img" />
                    <img id="sun" src="/SRSScreenShorts\moon.svg" alt="" class="moon-img hidden" />
            </button>
        </div>
    </div>

    <!-- Sidebar -->

    <div id="mySidebar" class="sidebar">
        <div class="tab sidebar-tab">
            <span class="mob-welcome-text">Welcome <span class="mob-name-text">Tests Testing</span></span>
            <button class="tablinks sidebar-tablinks mobile-sidebar-active">
                <a asp-controller="Patient" asp-action="PatientDashboard" class="mobile-sidebar-a">
                    Dashboard
                </a>
            </button>
            <button class="tablinks sidebar-tablinks">
                <a asp-controller="Patient" asp-action="PatientProfile" class="mobile-sidebar-a">
                    Profile
                </a>
            </button>
        </div>
    </div>

    <!-- Dark Background when sidebar is open -->
    <div class="overlay" onclick="sidebar_close()">
    </div>

    <!-- Navbar Below Container -->

    <div class="nav-below-container"></div>

    <!-- Navbar - Below -->

    <nav class="navbar navbar-expand-sm navbar-light bg-light margin-top ">
        <button class="navbar-toggler list-border" type="button" data-toggle="collapse" data-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation" onclick="sidebar_open()">
                <img src="/SRSScreenShorts\list.svg" alt="" class="list-img" />
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <div class="tab">
                <button class="tablinks sidebar-active">
                    <a asp-controller="Home" asp-action="PatientDashboard">
                        Dashboard
                    </a>
                </button>
                <button class="tablinks">
                        <a asp-controller="Home" asp-action="PatientProfile">
                        Profile
                    </a>
                </button>
            </div>
        </div>
    </nav>

    <!-- Create Request Modal -->
    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
         aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <div class="modal-title" id="exampleModalLongTitle">Create New Request</div>
                    <span aria-hidden="true" data-bs-dismiss="modal" class="cross-btn">&times;</span>
                </div>
                <form action="">
                    <input type="hidden" name="" id="redirect-value" value="SubmitForMe">
                    <div class="modal-body">
                        <span class="modal-head">Here, I want to create new request for ...</span>
                        <div class="modal-flex">
                            <div class="btn common-btn cancel-btn create-request-active" onclick="toggleButton(this,'SubmitForMe')"> Me </div>
                            <div class="btn common-btn cancel-btn" onclick="toggleButton(this,'SubmitSomeoneElse')"> Some One Else</div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-info continue-btn" data-bs-dismiss="modal" onclick="redirect()">Continue</button>
                            <button type="button" class="btn cancel-btn " data-bs-dismiss="modal">Cancel </button>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <!-- Table View - Desktop -->

    <div id="Dashboard" class="tabcontent">
        <span class="main-heading" id="main-heading">Medical History</span>
        <div class="main-content">
            <div class="create-request">
                <button type="button" class="create-request-btn" id="request-btn" data-bs-toggle="modal"
                        data-bs-target="#myModal">
                    Create New Request
                </button>
                <a class="create-request-btn-mob" data-bs-toggle="modal" data-bs-target="#myModal">
                        <img id="create-request" src="/SRSScreenShorts\plus.svg" alt="" class="logout-img" />
                </a>
            </div>
            <table class="table">
                <thead>
                    <tr>
                        <th class="heading">Created date</th>
                        <th class="heading">Current Status</th>
                        <th class="heading d-flex flex-left">Document</th>
                    </tr>
                </thead>
                <tbody>
                    
                                @foreach (var item in ViewBag.data)
                                {
                                    <tr>
                                        <td>@item.CreatedDate.ToString("MMMM dd,yyyy")</td>
                                         <td>
                                        @if( item.Status==1){
                                           <p>Unassigned</p>
                                        }
                                      
                                        </td>
                                        
                                            @{
                                           var Count = 0;
                                           
                                           @foreach(var obj in ViewBag.rwfiles)
                                             {
                                                if (item.RequestId == obj.RequestId)
                                              {
                                                    Count++;
                                               }
                                      
                                              }
                                    if(Count!=0){
                                    <td>
                                    <a class="" asp-controller="Home" asp-action="ViewDocument" asp-route-id="@item.RequestId">
                                            <span class="logout-text">(@Count) Documents</span>
                                        </a>
                                        </td>
                                    }
                                        }
                                    </tr>
                                }

                </tbody>
            </table>

            <!-- Table Mobile - Accordian -->
            <div class="accordion accordion-flush" id="accordionFlushExample">
                <div class="accordion-item">
                    <h2 class="accordion-header" id="flush-headingOne">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                data-bs-target="#flush-collapseOne" aria-expanded="false" aria-controls="flush-collapseOne">
                                <img src="/SRSScreenShorts\clock.svg" alt="" class="accordion-img"> <span class="accordion-heading">
                                Created
                                Date: <span class="accordion-value">Sept 27, 2023</span>
                            </span>
                        </button>
                    </h2>
                    <div id="flush-collapseOne" class="accordion-collapse collapse" aria-labelledby="flush-headingOne"
                         data-bs-parent="#accordionFlushExample">
                        <div class="accordion-body main-flex">
                            <div class="inner-flex">
                                    <img src="/SRSScreenShorts\person-circle.svg" alt="" class="accordion-img-inner">
                                <span class="accordion-heading-inner">
                                    Provider :
                                    <span class="accordion-value-inner">-</span>
                                </span>
                            </div>
                            <div class="inner-flex">
                                    <img src="/SRSScreenShorts\success-icon.svg" alt="" class="accordion-img-inner"> <span class="accordion-heading-inner">
                                    Current
                                    Status: <span class="accordion-value-inner">Accepted</span>
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="accordion-item">
                    <h2 class="accordion-header" id="flush-headingTwo">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                data-bs-target="#flush-collapseTwo" aria-expanded="false" aria-controls="flush-collapseTwo">
                                <img src="/SRSScreenShorts\clock.svg" alt="" class="accordion-img"> <span class="accordion-heading">
                                Created
                                Date: <span class="accordion-value">Aug 4, 2023</span>
                            </span>
                        </button>
                    </h2>
                    <div id="flush-collapseTwo" class="accordion-collapse collapse" aria-labelledby="flush-headingTwo"
                         data-bs-parent="#accordionFlushExample">
                        <div class="accordion-body main-flex">
                            <div class="inner-flex">
                                    <img src="/SRSScreenShorts\person-circle.svg" alt="" class="accordion-img-inner">
                                <span class="accordion-heading-inner">
                                    Provider :
                                    <span class="accordion-value-inner">-</span>
                                </span>
                            </div>
                            <div class="inner-flex">
                                    <img src="/SRSScreenShorts\success-icon.svg" alt="" class="accordion-img-inner"> <span class="accordion-heading-inner">
                                    Current
                                    Status: <span class="accordion-value-inner">Processing</span>
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="accordion-item">
                    <h2 class="accordion-header" id="flush-headingThree">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                data-bs-target="#flush-collapseThree" aria-expanded="false" aria-controls="flush-collapseThree">
                                <img src="/SRSScreenShorts\clock.svg" alt="" class="accordion-img"> <span class="accordion-heading">
                                Created
                                Date: <span class="accordion-value">Aug 4, 2023</span>
                            </span>
                        </button>
                    </h2>
                    <div id="flush-collapseThree" class="accordion-collapse collapse" aria-labelledby="flush-headingThree"
                         data-bs-parent="#accordionFlushExample">
                        <div class="accordion-body main-flex">
                            <div class="inner-flex">
                                    <img src="/SRSScreenShorts\person-circle.svg" alt="" class="accordion-img-inner">
                                <span class="accordion-heading-inner">
                                    Provider :
                                    <span class="accordion-value-inner">-</span>
                                </span>
                            </div>
                            <div class="inner-flex">
                                    <img src="/SRSScreenShorts\success-icon.svg" alt="" class="accordion-img-inner"> <span class="accordion-heading-inner">
                                    Current
                                    Status: <span class="accordion-value-inner">Processing</span>
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="accordion-item">
                    <h2 class="accordion-header" id="flush-headingFour">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                data-bs-target="#flush-collapseFour" aria-expanded="false" aria-controls="flush-collapseFour">
                                <img src="/SRSScreenShorts\clock.svg" alt="" class="accordion-img"> <span class="accordion-heading">
                                Created
                                Date: <span class="accordion-value">May 10, 2023</span>
                            </span>
                        </button>
                    </h2>
                    <div id="flush-collapseFour" class="accordion-collapse collapse" aria-labelledby="flush-headingFour"
                         data-bs-parent="#accordionFlushExample">
                        <div class="accordion-body main-flex">
                            <div class="inner-flex">
                                    <img src="/SRSScreenShorts\person-circle.svg" alt="" class="accordion-img-inner">
                                <span class="accordion-heading-inner">
                                    Provider :
                                    <span class="accordion-value-inner">Dr. AGOLA</span>
                                </span>
                            </div>
                            <div class="inner-flex">
                                    <img src="/SRSScreenShorts\success-icon.svg" alt="" class="accordion-img-inner"> <span class="accordion-heading-inner">
                                    Current
                                    Status: <span class="accordion-value-inner">Closed</span>
                                </span>
                            </div>
                            <a class="document-mob" asp-controller="Home" asp-action="ViewDocument">
                                <span class="logout-text">(1) Documents</span>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>