.hidden-pass{
    display:none;
}
* {
    margin: 0%;
    padding: 0%;
}

.logo {
    height: 70px;
    width: 120px;
    left: 4%;
}

nav {
    border-bottom: 2px solid black;
}

.text1 {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: bolder;
}

.shadow-bottom {
    box-shadow: 0 5px 3px -3px #00000030;
    background-color: white;
}

.b1 {
    color: aqua;
    background-color: transparent;
    border-color: aqua;
    border-radius: 3px;
    padding: 5px 8px;
    position: absolute;
    right: 2%;
    top: 2%;
}

.moon {
    background-color: transparent;
    color: #008080;
    border-radius: 2px;
    border-color: #008080;
}

.dark-mode {
    background-color: black;
}

.maincontent {
    margin-top: 10px;
    background-color: white;
}

.back {
    margin: 30px;
    padding: 6px;
    border-radius: 4px;
    color: #0dcaf0;
    background: transparent;
    border: 1px solid #0dcaf0;
}





.upload-form {
    flex-basis: 80%;
}

.file-upload {
    display: flex;
}

input[type="file"] {
    display: none;
}

.custom-file-upload {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #0dcaf0;
    color: white;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 14px;
    flex-basis: 10%;
    height: 36px;
    border: 1px solid #0dcaf0;
    border-radius: 0px 5px 5px 0px;
    height: 50px;
    cursor: pointer;
}

.file-upload-img {
    width: 20px;
    height: 20px;
    margin-right: 8px;
}

.Submit {
    padding: 9px;
    border-radius: 8px;
    color: white;
    background-color: #0dcaf0;
    border: none;
    margin-right: 10px;
}

.Cancel {
    padding: 9px;
    border-radius: 8px;
    color: #0dcaf0;
    background: transparent;
    border: 1px solid #0dcaf0;
}

.footer {
    position: relative;
    bottom: 0;
    border: 1px solid black;
    background-color: black;
    color: grey;
    margin-top: 30px;
    padding: 5px;
}

.form-floating > .form-control, .form-floating > .form-control-plaintext, .form-floating > .form-select {
    min-height: 0px;
}

.upload-form {
    height: 50px !important;
}

.phone-code, .phone-input {
    height: calc(3.5rem + calc(var(--bs-border-width) * 2)) !important;
}

.iti {
    width: 100%;
}
