html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}



input:focus,
textarea:focus,
select:focus 
{
    box-shadow: none !important;
    border-color: #0dcaf0 !important;
}

    input:focus + label,
    textarea:focus + label,
    select:focus + label {
        color: #0dcaf0 !important;
        transition: ease 0.3s !important;
    }


.form-floating > .form-control:focus ~ label::after {
    background-color: transparent !important;
}

.form-floating > .form-control:not(:focus) ~ label::after {
    background-color: transparent !important;
    color: #0dcaf0 !important;
}


::-webkit-scrollbar {
    width: 5px;
}

    ::-webkit-scrollbar:horizontal {
        height: 5px;
    }

::-webkit-scrollbar-track {
    background-color: #f0f0f0;
    border-radius: 8px;
}

::-webkit-scrollbar-thumb {
    background-color: #0dcaf0;
    border-radius: 8px;
}

::-webkit-scrollbar-track:horizontal {
    background-color: #f0f0f0;
    border-radius: 8px;
    height: 5px;
}

::-webkit-scrollbar-thumb:horizontal {
    background-color: #0dcaf0;
    border-radius: 8px;
    height: 5px;
}



/*Offcanvas Navbar*/
.offcanvas-btn {
    text-align: left;
}

    .offcanvas-btn.active {
        width: 100%;
        text-align: left;
        background-color: rgba(0, 255, 255, 0.25) !important;
        font-weight: bolder;
    }




@media screen and (min-width : 992px) {
    .offcanvas-backdrop {
        display: none !important;
    }
}

@media screen and (max-width : 602px) {
    .offcanvas {
        width: 75% !important;
    }
}

.offcanvas-backdrop {
    margin-top: 96px !important
}

#offcanvasExample {
    margin-top: 96px !important
}

@media screen and (max-width : 375px) {
    .offcanvas-backdrop {
        margin-top: 76px !important
    }

    #offcanvasExample {
        margin-top: 76px !important
    }
}

.dropdown-content {
    display: none !important
}

.SubTab-Dropdown:hover .dropdown-content {
    display: block !important
}

.dropdown-item.active {
    background-color: #5bc0de !important;
    font-weight: bolder;
}

@media screen and (max-width : 991px) {
    .dropdown-item.active {
        background-color: rgba(0, 255, 255, 0.25) !important;
        font-weight: bolder;
    }
}